/*****  Super Logos Showcase Wordpress Plugin by Joe Iz http://superstorefinder.net ****/

.input_section{
border:1px solid #ddd;
border-bottom:0;
background:#f9f9f9;
border-radius: 3px 3px 3px 3px;
}
.option_input label{
font-size:12px;
font-weight:700;
width:15%;
display:block;
float:left;
}
.option_input {
padding:20px 10px;
border-bottom:1px solid #ddd;
border-top:1px solid #fff;
}
.option_input small{
display:block;
float:right;
width:60%;
color:#999;
}
.option_input input[type="text"], .option_input select{
width:20%;
font-size:12px;
color:#333;
line-height:1em;

}
.option_input input:focus, .option_input textarea:focus{
background:#fff;
}
.option_input textarea{
width:20%;
height:175px;
font-size:12px;
padding:4px;
color:#333;
line-height:1.5em;

}
.input_title h3 {
color: #464646;
cursor: pointer;
float: left;
font-size: 14px;
margin: 0;
padding: 5px 0 0;
text-shadow: 0 1px 0 #FFFFFF;

}
.input_title{
cursor:pointer;
border-bottom:1px solid #ddd;
margin: 0;
padding: 7px 10px;
background-color: #F1F1F1;
background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
font-size: 15px;
font-weight: normal;
line-height: 1;
border-bottom-color: #DFDFDF;
box-shadow: 0 1px 0 #FFFFFF;
}
.input_title h3 img {
position: relative;
top: -2px;
vertical-align: middle;
margin-right: 5px;
}

.input_title span.submit{
display: block;
float: right;
margin: 0 20px;
padding: 0;
}
.clearfix{
clear:both;
}

form > p.submit {
float: right;
padding: 0;
margin-right: 30px;
}
.options_wrap > ul li {
display: inline;
margin-right: 5px;
}
.content_options .message {
margin-top: 30px
}
.footer-credit{
margin-top: 60px
}


.wp-admin select {
  
  height: 22px !important;
  
}

.searchbar_tr{
background: none !important;
}


/*/////////////////////////////////#
	General Admin
////////////////////////////////////*/
.tableRowHeader,.tableRowHeader td,.tableRowHeader th {
	background-color: black;
	color: white;
	font-weight: bold;
}

.tableRowHeader  td a,.tableRowHeader  th a,.widefat thead td a,.widefat thead th a
	{
	/*color: #00aa00;*/
	font-weight: bold;
	text-decoration: underline;
}

.widefat,.widefat thead td a,.widefat thead th a,.widefat td,.widefat th
	{
	font-size: 12px;
}

.widefat td td, .widefat td, .widefat th {
	border-bottom: none;
}

.widefat td, .widefat th {
	vertical-align:top !important;
}
.widefat thead,.widefat thead tr {
	background-color: #ddd;
	background-image: none;
	color: white;
}

.sls_wp_footer td a,.sls_wp_footer td a:link,.sls_wp_footer td a:hover,.sls_wp_footer td a:active,.sls_wp_footer td a:visited
	{
	font-weight: normal;
	font-size: 8px;
}

.manual_add_table td, .manual_add_table td td, .manual_update_table td, .manual_update_table td td, .manual_update_table{
	border-bottom:none;
	width:100%;
}
.manual_add_table td td td, .manual_update_table td td{
	padding-left:0px; padding-right:0px;
}
.manual_update_table td td{
	border:0px !important;
}
.left_side {
	border-right:solid #ddd 1px;
}
.sls_wp_admin_warning {
	background-color:pink; 
	border-left:solid maroon 3px; 
	border-right:solid maroon 1px; 
	padding:7px; 
	width:100%;
}
.sls_wp_admin_success {

	background-color:lightgoldenrodyellow; 
	border-left:solid gold 3px; 
	border-right:solid gold 1px; 
	padding:7px; 
	max-width:100%;
	margin-bottom:10px;
}
.mng_loc_forms_links div, .mng_loc_forms_links form {
	vertical-align: bottom;
	display: inline;
}
.mng_loc_forms_links select, .mng_loc_forms_links input {
	font-size: 10px;
	vertical-align: bottom;
}
pre {
	white-space: pre;          
	white-space: pre-wrap;     

	white-space: -pre-wrap;     
	white-space: -o-pre-wrap;   
	white-space: -moz-pre-wrap; 
	white-space: -hp-pre-wrap;  
	word-wrap: break-word;      
	}
#mgmt_bar input, #settings_table th input {
	line-height: 15px;
    	margin: 1px;
    	vertical-align: middle;
    	padding: 3px;
}
#mgmt_bar input[type="button"], #settings_table th input[type="submit"] {
	padding: 2px 10px 3px 10px;
}
.tablenav .tablenav-pages a {
	font-size: 12px !important;
	font-weight: bold !important;
	padding: 3px 6px !important;
}
/*---- End - General Admin ----*/

/*/////////////////////////////////#
	Top Navigation Tabs
////////////////////////////////////*/
.tablist {
    list-style:none; 
    height:2.2em;
    padding:0; 
    margin:0; 

}
.tablist li {
    float:left; 
    margin-right:0.13em; 
	margin-bottom:0px;
}
.tablist li a {
    display:block;
    padding:0 1em;
    text-decoration:none;
    border: 1px solid gray;
    border-bottom:0;
    font:bold 1.1em/2.2em arial,geneva,helvetica,sans-serif;
    color:#000;
    background-color:#fff;


}

.tablist li a:hover {
    /*background:white; 
    color:maroon;
    text-decoration:none;*/
	 background-color: #5589AA;

	text-shadow:1px 1px 0.2em #000;
    color: #fff;

}
.tablist li#current_top_link a {
    background-color: #FD8222 !important;


    color: #fff;

	border-color:#E57A26 !important;
	/*font-weight:bold;*/
}
.tablist li#current_top_link a:hover {
	background-color: #FDC022; /*border:solid black 1px;*/

}
.top_sub_nav {
	/*padding:px;*/ min-height:33px;

	background-color: #3a81ea;
	overflow: hidden;
}
.top_sub_nav div {
	/*background-color:navy;
	height:100%; width:300px;*/
	visibility: hidden;
	/*needed only for drop-down*/
	/*position: absolute;
	left: 87px;
	z-index: 9999;
	border: solid #666 1px; border-top:0px;
	border-left: solid #666 1px;
	min-width: 200px;
	border-radius: 0 0 9px 9px;
	box-shadow: 10px 10px 25px #888;
	background: #5589AA;*/ /*#21759B;*/
	/*min-height: 100px;*/
	/*white-space: nowrap;
	padding-bottom:15px;*/
	/*end needed only*/
}
.top_sub_nav a {
	text-align: left;
	color: white;
	text-decoration: none;

	padding-right: 15px;
	vertical-align: middle;
	top: 5px;
	position: relative;

	/*needed only for drop-down*/
	/*display:block;
	padding:10px;*/
}
.top_sub_nav a:hover {

	color:white;
	/*needed only for drop-down*/
	/*background-color:#21759B;*/
}
.top_sub_nav a.current_sub_link {


	/*padding:4px;*/
}
.sub_nav_link {
	background-color:maroon; padding:3px; color:white; font-weight:bold; text-decoration:none; border-radius:3px;
}
#level3_nav {
	z-index:9999;
	background-color:white; 
	border: solid #21759B 2px; 
	padding: 0 7px 14px 7px; 
	border-radius: 0 0 7px 7px;
	box-shadow: 10px 10px 25px #888;
}
#level3_nav a {
	display: block; 
	color: #21759B; 
	font-size: 12px;
}
#level3_nav a:hover {
	text-shadow: 1px 1px 0.2em #333;
	color:white;
	background-color:#21759B;
}
/*---- End - Top Navigation Tabs ----*/

/*/////////////////////////////////#
	Slideout
////////////////////////////////////*/
#slideout {
	/*background:#666;*/
	position:absolute;
	/*width:554px;*/
	width:102px;
	height:45px;
	/*height:600px;*/
	top:0px;
	/*right:-494px;*/
	right:0px;
	z-index: 99;
}
#clickme {
	float:left;
        height:45px;
        width:100px;
        /*border:solid #5589AA 1px;*/
        border:solid #bbb 1px;
        background-color: #ddd;
        padding:0px;
    -webkit-border-bottom-left-radius:1.0em;
    -webkit-border-top-left-radius:1.0em;
    -moz-border-radius-bottomleft:1.0em;
    -moz-border-radius-topleft:1.0em;
    border-bottom-left-radius:1.0em;
    border-top-left-radius:1.0em;
    box-shadow: 5px 5px 30px #888;
    background-image: url('../images/logo.small.png');
    background-repeat: no-repeat;
    background-position: 31px 4px;
    top: 5px;
    cursor: pointer;  cursor: hand; 
    z-index:99;
}
#clickme:hover {
	background-color: white;
}
#slidecontent {
        float:left;
        height:800px;
        background-color:#fff;
        /*width:580px;*/
        width:0px;
        padding:0px;
        box-shadow: 5px 5px 30px #888;
        /*display:none;*/
}
#slidecontainer {
	display:none;
	background-color:white;
	margin: 7px;
}
#licenseForm td {
    padding-left: 2px;
}
/*---- End - Slideout ----*/

/*/////////////////////////////////#
	Addons
////////////////////////////////////*/
#loc_table td, #loc_table th, #addons_table td, #addons_table th {
	vertical-align: middle !important;
}

td#addons_settings {
	padding:20px; padding-top:7px;
	background-color:white;
	font-weight: normal;
}
td#addons_settings td {
	font-weight: normal;
	background-color:white;
	font-size:12px;
}
td#addons_settings a {
	font-size: 12px;
}
.addon_settings_sub_nav {
	display:inline;
	padding: 6px;
	background-color:#ddd;
	color:black;
	border-radius: 0.5em;
}
.addon_settings_sub_nav a {
	color:black;
	text-decoration: none;
}
.ao_page_selected a, .ao_page_selected, .marketplace_page_selected {
	/*color: #5589AA;
	font-weight: bold;*/
	/*text-shadow: 0.2px 0px 0.01em #000;*/
	background-color:darkGreen; 
	padding:3px; color:white; 
	font-weight:bold; 
	text-decoration:none; 
	border-radius:3px;
	opacity: 0.5;
}
#addon_settings_selector {
	display:inline;
}
#ao_settings_form {
	display:inline;
}
#ao_settings_form select {
	
	font-size:16px;
	font-weight: bold;
}
.ao_activation_div {
	/*border:solid silver 1px;*/
	padding:10px;
}
.ao_activation_div div{
	display: inline;
	min-width:150px;
}
tr.ao_selected td, tr.ao_selected th {
	/*border-right: solid darkGreen 10px;*/
	background-color: white;
}
.ao_inactive td, .ao_inactive th {
	background-color:#eee;
	font-size:12px !important;
}

.ao_active td, .ao_active th {
	font-weight: bold;
	/*font-size:10px;*/
	background-color:#eee;
}
.ao_active td:hover{
	background-color: #fff;
}
.ao_active a {
	font-weight: normal;
	font-size:12px;
}
.not_validated td, .not_validated th, .not_validated a {
	background-color:silver !important;
}
.single_addon_marketplace {
	border:#ddd solid 1px; 
	border-radius:7px;
	padding:11px; 
	/*margin-right:8px; */
	min-height:75px;
	/*margin-bottom:8px; */
	/*margin-top:8px; */
	float:left;
	line-height:20px;
	margin: 2px;
	height: inherit;
}
.single_addon_marketplace input {
	font-size:9px;
}
.addon_installed_label{
	/*background-color:green; */
	padding:4px; 
	float:right; 
	border-radius:4px; 
	opacity:0.4;
	color:green;
}
.sls_wp_php_bracket{ color:red;}
.sls_wp_reserved_word{ color:blue;}
.sls_wp_commented_word{ color:green;}
.sls_wp_code {
	/*margin: 10px;*/
	border: solid silver 1px;
	
	background: #EFEFEF;
	line-height:20px;
}
.eg_b, .eg_c {
	display:none;
}
.pp_inline b {
	font-size:1em;
}
.pp_inline{
 	/*padding-top:30px;*/
 	line-height:18px;
 	/*background-position-x:*/
}
.on_off_active, .on_off_inactive {
	background-color:#ddd;
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 5px;
	text-align: center;
	box-shadow: inset 1px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 1px 1px #ddd;
}
.on_off_active .indicator {
text-align: center;
background-color: green;
display: block;
width: 8px;
height: 8px;
border-radius: 4px;
position: relative;
margin: 0 auto;
top: 3px;
box-shadow: inset 0px 1px 0px 1px rgba(250,250,250,0.5), 0px 0px 1px 0px rgba(135,187,83,0.5);
}
.on_off_inactive .indicator {
text-align: center;
background-color: #ddd;
display: block;
width: 8px;
height: 8px;
border-radius: 4px;
position: relative;
margin: 0 auto;
top: 3px;
/*box-shadow: inset 0px 1px 0px 1px rgba(250,250,250,0.5),  
                0px 0px 3px 1px rgba(226,0,0,0.5);*/
}
/*---- End - Addons ----*/


.sls-wp-menu-version{
	font-size:12px;
}

.postbox{
	background:#4a4a4a;
	border:none;
}
.sls-wp--sub-sections{
	width:180px;
	float:left;
	/*border-top:4px solid #333;*/
	padding-top:4px;

}
.sls-wp--sub-sections a{
	display:block;
	background:#e9e9e9;
	padding:10px 15px;
	color:#555;
	font-weight:bold;
	font-size:12px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #eee;
	cursor:pointer;

	background:#4a4a4a;
	color:#eee;
	border-bottom:1px solid #444;
	/*border-top:1px solid #555;*/
	border-top:none;

	position:relative;

}
.sls-wp--sub-sections a:hover,
.sls-wp--sub-sections a.sls-wp--active{
	background:#3a3a3a;

	background:#4D90FE;
}
.sls-wp--sub-sections a:hover:after,
.sls-wp--sub-sections a.sls-wp--active:after{
	content:'';
	position:absolute;
	top:0;
	left:100%;
	height:100%;
	border-right:3px solid #4D90FE;
}
.sls-wp--form-table-wrap{
	padding-left:180px;
	display:block;
}
.sls-wp--form-table-wrap-inner{
	border:1px solid #ddd;
	border-left:none;
	border-top:none;
	background:#f9f9f9;
}
.sls-wp--form-table-wrap .form-table{
	clear:none;
	margin:0;
}
.sls-wp--submit-wrap{
	z-index:30;
	position:fixed;
	bottom:0;
	right:20px;
	background:#eee;
	border:2px solid #ddd;
	border-bottom:none;
	padding:20px 30px 10px 30px;
}
.sls-wp--submit-wrap .submit{
	margin:0;
	padding:0;
	text-align:center;
}
.sls-wp--submit-tip{
	padding-top:10px;
	font-size:11px;
	display:block;
	color:#999;
	text-align:center;
}
.wp-core-ui .sls-wp-menu-wrap .button .fa{
	padding-right:3px;
}
.wp-core-ui .sls-wp-menu-wrap .button-primary{
	background:#4D90FE !important;
}

.wp-core-ui .button-primary {
  background:#4D90FE !important;
}

li.top_nav_li .button-primary {
margin-right:5px !important;
}

.wp-core-ui .sls-wp-menu-wrap .button-tertiary{
    background: #CF257D;
    border-color: #880F58;
    color:white;
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.15);
}
.sls-wp--submit-wrap-top{
	position:absolute;
	right:10px;
	top:-50px;
}
.sls-wp--submit-wrap-top p{
	margin:0;
}

.sls-wp--field-header{
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	background:#eee;
}
.sls-wp--field-header th{
	font-size:18px;
}
.sls-wp--field-header td{
	font-size:12px;
	font-style: italic;
	color:#999;
}

.form-table th{
	padding-left:20px;	
}
h2.nav-tab-wrapper{
	padding-left:0;
}
.sls-wp-menu-wrap .nav-tab{
	border-bottom:1px solid #E4E4E4;
}
.sls-wp-menu-wrap .nav-tab-active, 
.sls-wp-menu-wrap .nav-tab-active:hover {
	background: #4D90FE;
	border: 1px solid #4D90FE;
	color: #FFF;

	background:#333;
	border:1px solid #333;
}
.sls-wp-menu-wrap .metabox-holder{
	background:#4D90FE;
	background:#333;
}

.sls-wp-menu-settings-links{
	float:right;
}

.sls-wp--radio-description{
	display:block;
	padding-left:25px;
	font-size:12px;
	color:#999;
}

.sls-wp--field-checkbox label{
	color:#777;
	font-size:12px;
	font-style:italic;
}

.sls-wp--field textarea{

	font-size:12px;
	padding:10px;
	width:100%;
	max-width:600px;
}

.sls-wp--field-multicheck td input,
.sls-wp--field-multicheck td label{
	margin-bottom:10px;
	display:inline-block;
}
.sls-wp-menu-assigned{
	font-size:11px;
	background:#e9e9e9;
	border:1px solid #ddd;
	border-left:2px solid #ccc;
	color:#999;
	padding:1px 6px;
	margin-left:5px;
}







.sls-wp-menu_instance_manager{

}
a.sls-wp-menu_instance_toggle,
a.sls-wp-menu_pro_button{
	float:right;
}
.sls-wp-menu_instance_container_wrap,
.sls-wp-menu_instance_notice_wrap{
	position:fixed;
	z-index:999;
	background:#444;
	background:rgba(0,0,0,.7);

	left:0;
	top:0;
	width:100%;
	height:100%;

	display:none;
}
.sls-wp-menu_instance_container,
.sls-wp-menu_instance_notice{

	background:#e9e9e9;
	padding:20px;

	width: 50%;
	height: auto;
	max-height:150px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.sls-wp-menu_instance_container h3{
	margin-top:0;
}

form.sls-wp-menu_instance_form{
	float:left;
	width:100%;
	margin:0 0 20px 0;

}

input.sls-wp-menu_instance_input{
	padding:10px;
	height:40px;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	display:block;
	float:left;
	width:70%;
	margin:0;

	border:none;
}
a.sls-wp-menu_instance_button,
a.sls-wp-menu_pro_button{
	display:inline-block;
	padding:10px;
	height:40px;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

	margin:0;
	background:#12B365;
	background:#4D90FE;
	text-align:center;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	text-decoration: none;
}
a.sls-wp-menu_instance_button{
	background:#999;
}
a.sls-wp-menu_instance_button:hover{
	background:#4D90FE;
}
.sls-wp-menu_instance_container a.sls-wp-menu_instance_button{
	float:left;
	width:30%;
}
.sls-wp-menu_instance_form_desc{
	display:block;
	clear:both;
	margin:20px 0;
}
.sls-wp-menu_instance_close{
	position:absolute;
	top:0;
	right:0;
	font-size:16px;
	padding:10px 15px;
	cursor:pointer;
}
.sls-wp-menu_instance_close:hover{
	background:#333;
	color:#eee;
}
a.sls-wp-menu_instance_button_delete{
	background:#B31212;	
}

code.sls-wp-menu-highlight-code{
	border-left:2px solid #12B365;
	background:#eee; /*#C4E9D7;*/
	padding:5px;
	display:block;

	font-size:11px;
	max-width:100%;
	cursor:pointer;

	transition:all .2s ease;
}
code.sls-wp-menu-highlight-code:hover{
	background:#ddd;
}
.sls-wp-menu-highlight-code::selection{
	background:#CA4C62;
	color:#eee;
}
.sls-wp-menu-highlight-code::-moz-selection{
	background:#CA4C62;
	color:#eee;
}
.sls-wp-menu-integration-code{
	display:none;
}
.sls-wp-menu-integration-code-_default{
	display:block;
}


.form-table p.sls-wp-menu-sub-desc{
	clear:both;
	display:block;
	padding:10px 0;
}
.form-table p.sls-wp-menu-desc-mini{
	font-size:11px;
	padding:5px 0 5px 80px;
}

.sls-wp-menu-desc-row{
	display:block;
	float:left;
	clear:both;
	margin-bottom:10px;
}
.sls-wp-menu-code-snippet-type{
	float:left;
	clear:both;
	width:60px;
	padding:10px;
	font-size:11px;
	text-transform: uppercase;
	text-align:right;
}

h4.sls-wp-menu-settings-section{
	color:#666;
	font-size:16px;
}
.sls-wp-menu-desc-understated{
	font-size:12px;
	color:#999;
	font-style:italic;
}
.image-setting-wrap{
	float:left;
}
.image-setting-wrap img{
	max-width:200px;
	background:#eee;
}
.set-image-wrapper input.button{
	clear:both;
	float:left;
	margin:10px 10px 10px 0;
}
.remove-button{
	font-size:10px;
	float:left;
	padding:15px;
}

.sls-wp-menu_pro_button i{
	margin-right:3px;
}



.sls-wp-menu-help-video-tuts-link{
	margin:20px 0;
	background:#000;
	display:block;
	float:left;
	position:relative;
}
.sls-wp-menu-help-video-tuts-link img{
	transition:opacity .3s ease-in;
	display:block;
}
.sls-wp-menu-help-video-tuts-link:hover img{
	opacity:.5;
}
.sls-wp-menu-help-video-tuts-link .fa{
	position:absolute;
	font-size:50px;
	color:#14BBAE;

	left:50%;
	width:100px;
	margin-left:-50px;
	text-align:center;

	top:50%;
	height:100px;
	margin-top:-50px;
	line-height:100px;

	background:rgba(0,0,0,.3);
	border-radius:5px;
	opacity:.4;
	transition:opacity .3s ease-in;
}
.sls-wp-menu-help-video-tuts-link:hover .fa{
	opacity:1;
}


/** GOOGLE CSE **/
#sls-wp-menu_help .sls-wp--submit-wrap{
	display:none;
}
#sls-wp-menu_help .sls-wp--field-html > th{
	display:none;
}
#sls-wp-menu_help .sls-wp--field-html > td{
	width:100%;
}
.sls-wp-menu-kb-search,
.sls-wp-menu-help-wrap{
	padding:20px 50px;
	max-width:900px;
}
.sls-wp-menu-help-wrap p{
	padding:20px 0;
}
.search-topper{
	padding:10px 0px;
	/*background:#f9f9f9;
	border:1px solid #e9e9e9;
	border-bottom:none;
	font-size:11px;
	color:#666;
	font-weight:bold;
	text-align:right;*/
}
.search-topper a,
.sls-wp-menu-help-wrap h3{
	font-size:20px;
	text-decoration: none;
	color:#666;
	padding:0;
	font-weight:normal;
}
.knowledgebase-search{
	clear:both;
	margin:20px 0;
}

#sls-wp-menu_help .gsc-control-cse{
	padding:0;
	clear:both;
	margin-bottom:50px;
	border:none;
}
#sls-wp-menu_help .gsc-control-cse form.gsc-search-box{
	background:#f3f3f3;
	border:1px solid #e9e9e9;
	clear:both;
	position:relative;
	padding:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

	
}
#sls-wp-menu_help table.gsc-search-box td{
	padding:0 !important;
	
	margin: 0;
}
#sls-wp-menu_help .gsc-input-box{
	border:none;
	background:none;
	height:auto;
}
#sls-wp-menu_help .gsc-input-box input{
	border:1px solid #ccc !important;
	
	padding:10px !important;
	height:60px !important;
	font-size:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	background-position-x:10px !important;
}


#sls-wp-menu_help input.gsc-search-button{
	padding:22px 40px 21px 40px;
	vertical-align:top;
	margin:0;
	width:auto;
	height:auto;
}

#sls-wp-menu_help .cse input.gsc-search-button,
#sls-wp-menu_help input.gsc-search-button {
  border-color: #2f5bb7;
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357ae8');
}

#sls-wp-menu_help .gsib_b{
	position:absolute;
	right:120px;
	top:22px;
}

/*
#sls-wp-menu_help .gsc-table-cell-snippet-close{
	padding-left:8px;
	padding-right:8px;
}*/

#sls-wp-menu_help .gsc-table-result,
#sls-wp-menu_help .gsc-thumbnail-inside, 
#sls-wp-menu_help .gsc-url-top {
	padding-left:0 !important;
}

#sls-wp-menu_help .kb-search-nav input.gsc-search-button,
#sls-wp-menu_help .search-sidebar input.gsc-search-button{
	padding:15px;
}
#sls-wp-menu_help .kb-search-nav .gsc-input-box input,
#sls-wp-menu_help .search-sidebar .gsc-input-box input{
	height:45px !important;
	padding:10px;
}
#sls-wp-menu_help .kb-search-nav .gsib_b,
#sls-wp-menu_help .search-sidebar .gsib_b{
	right:50px;
	top:16px;
}

#sls-wp-menu_help .cse .gsc-control-cse, .gsc-control-cse{
  background:transparent;
  border:none;
}



.sls-wp--field-group-compare > th{
	display:none;
}
#sls-wp-menu_go_pro h2{
	padding:20px 0;
	color:#666;
}
#sls-wp-menu_go_pro .sls-wp--form-table-wrap-inner{
	padding:0 25px;
}
#sls-wp-menu_go_pro p{
	font-size:13px;
	color:#999;
}
#sls-wp-menu_go_pro .form-table{
	max-width:850px;
}
.ss-table-compare{
	width:100%;
	font-size:14px;
	line-height:20px;
	border-collapse: collapse;
}
.ss-table-compare tr:nth-child(2n){
	background:rgba(0,0,0,.1);
}
.ss-table-compare td,
.ss-table-compare th{
	text-align:center;
	padding:10px 10px;
}
.ss-table-compare td.ss-feature{
	text-align:left;
	width:200px;
}
.ss-table-compare td i.fa-check{
	color:green;
	font-size:20px;
}
.ss-table-compare .desc{
	clear:both;
	display:block;
	font-size:11px;
	line-height:13px;
	color:#777;
}

.spark-action-button{
	margin:30px 0 10px 0;
	text-align:center;
}
.spark-action-button a{
	border: 1px solid #BBB;	
	font-size:16px;
	font-weight:bold;
	letter-spacing: 1px;
	float:none;
	padding:15px 30px;
	width:300px;

	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	
	color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

	display:inline-block;
	text-decoration:none;
	text-transform: uppercase;
}





.sls-wp-menu-welcome{
    position:fixed;
    top:0;
    left:0;
    background:#000;
    background:rgba(0,0,0,.9);
    height:100%;
    width:100%;
    z-index:9999999;
}
.sls-wp-menu-welcome-inner{
	max-width:90%;
	margin:50px auto 0 auto;
	width:1000px;
	padding:30px;
	background:#e9e9e9;
	max-height: 80%;
	overflow-y: auto;
	position:relative;
}
.sls-wp-menu-welcome h2{
	color:#444;
	padding:5px 0 20px 0;
	font-size:26px;
}
.sls-wp-menu-welcome-buttons{
	margin-bottom:20px;
}
.sls-wp-menu-welcome .button{
	padding:8px 20px;
	height:auto;
	font-size:14px;
	margin-right:10px;
}
.sls-wp-menu-welcome .button .fa{
	margin-right:2px;
}

.sls-wp-menu-welcome p{
	font-size:14px;
	color:#666;
}
.sls-wp-menu-welcome-dismiss{
	top:0;
	right:0;
	display:block;
	padding:10px;
	background:#ccc;
	color:#444;
	font-weight: bold;
	position:absolute;
	text-decoration:none;
	font-size:16px;
	width:20px;
	text-align:center;
}
.sls-wp-menu-welcome-dismiss:hover{
	background:#444;
	color:#eee;
}

.sls-wp-menu-welcome-hide{
	display:none;
}

.sls-wp-menu-alert{

	background:#fff;
	box-shadow:0px 0px 6px rgba(0,0,0,.1);
	border-left:3px solid tomato;
	font-style:normal;
	max-width:100%;
	padding:5px; 
	line-height: 22px;
	margin-bottom:10px;
}
.sls-wp-menu-alert a{
	font-weight:bold;
}

.btn-danger {
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	margin-left:70px;
	vertical-align:top;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #a2a2a2;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.custom_marker{
	vertical-align:top;
}

.sls_layout {
    vertical-align: top;
    line-height: 26px;
    margin-right: 20px;
}

.sls_layout input[type=radio] {
    vertical-align: unset;
    margin-bottom: 2px;
    margin-left: 5px;
}



/*.super-img img {
    max-width: 100% !important;
    max-height: 50px;
    display: block;
}

.super-img{
    height: 50px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

.super-img .cell-fluid {
  width: 100%;
}*/



.super-img {
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.super-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.super-img img.portrait {
  width: 100%;
  height: auto;
}